<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container 75%">
					<header>
						<h2>Welcome.</h2>
					</header>
					<p>This is <strong>Monorater</strong>, a site made by 
					<a href="http://html5up.net">Jackie and Lisandro</a>, a site made to find you movie, book, games, food, video and/or GIF recommendations based on your search query.</p>
					<!--<div class="light_speed">-->
					<!--    <canvas></canvas>-->

     <!--                    <p>Hold mouse down to enter light speed</p> -->

     <!--                    Social -->
     <!--                   <div class="social">-->
     <!--                     <a href="https://twitter.com/Christopher4Lis" target="_blank"></a>-->
     <!--                     <i class="fa fa-twitter fa-lg"></i>-->
     <!--                   </div>-->
     <!--               </div>-->
     
					<footer>
						<!--<a href="#one" class="button style2 down">More</a>-->
						<!--<label class="search" for="inpt_search">-->
			   <!--         <input id="inpt_search" type="text" />-->
		    <!--            </label>-->
		    <!--            <p>Hover to see the magic.</p>-->
		            <form method = "POST" action = "/result">
		                <div class="cntr">
	                        <div class="cntr-innr">
	                          <label class="search" for="inpt_search">
			                       <input id="inpt_search" type="text" name = "user_input" />
		                      </label>
		                      <br>
		                      <button type = "submit">Search</button>
		                      </br>
	                       </div>
                        </div>
                    </form>
					</footer>
				</div>
			</section>